Labb 2 lets go.

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Correct the file paths
betyg_file_path = r"C:\Users\Burai\Downloads\betyg_o_prov_riksnivå.xlsx"
ak9_file_path = r"C:\Users\Burai\Downloads\riket2023_åk9_np.xlsx"

# Read the data from each file separately
df_betyg = pd.read_excel(betyg_file_path)
df_ak9 = pd.read_excel(ak9_file_path)

#Save to excel files
df_betyg.to_excel(r'C:\Users\Burai\OneDrive\Documents\GitHub\Brian-Gomez-Santiestevez-OPA23GB/Labb2/betyg.xlsx', index=False)
df_ak9.to_excel(r'C:\Users\Burai\OneDrive\Documents\GitHub\Brian-Gomez-Santiestevez-OPA23GB/Labb2/ak9.xlsx', index=False)

In [ ]:
print("meow")

meow

Uppgift 0 - uppvärmning med riket
I den här uppgiften ska du visualisera med hjälp av matplotlib och/eller seaborn

a) Börja med att läsa in filen riket2023_åk9_np.xlsx och sheets för de olika ämnena. Ändra kolumnnamnen på
respektive dataframe så du får något liknande som nedan.

b) Ta reda på antalet som fått F i matematik totalt, pojkar respektive flickor.

c) Rita ett stapeldiagram på totala poängen för de olika ämnena.

d) Rita fyra olika stapeldiagram i subplots på totala poängen för de olika ämnena för de olika huvudmännen.

e) Rita ett stapeldiagram i subplots på totala poängen för de olika ämnena för de olika huvudmännen.

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

ak9_file_path = "ak9.xlsx"
df_ak9 = pd.read_excel(ak9_file_path, skiprows=8)

df_ak9.head()

,Riket,Typ av huvudman,Totalt,Flickor,Pojkar,Totalt,Flickor,Pojkar,Totalt,Flickor,Pojkar
0,Riket,Samtliga,106941,51864,55077,97.0,97.1,97.0,15.7,15.8,15.7
1,Riket,Kommunal,84310,40675,43635,96.6,96.6,96.6,15.4,15.5,15.4
2,Riket,Enskild,22582,11165,11417,98.7,98.8,98.7,16.9,17.0,16.8
3,Riket,Skolverket,49,24,25,100.0,100.0,100.0,18.5,18.9,18.2